* {
	box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

ul{
	list-style-type: none;
	margin: 13px 14px;
}

header {
	background-color: white;
	color: #0f7277;
	position: fixed;
	width: 100%;
	overflow: hidden;
}

#navbar{	
  transition: top 0.3s;
}

img{
	height: 270px;
	border-radius: 5px 5px 5px 5px;
    width: 100%;
}

li {
    float: left;    
    padding: 14px 16px;
}

a{
	text-decoration: none;
	color: #0f7277;	
}
	
footer{
	background-color: black;
	color: #0f7277;
	padding: 10px 20px;
	text-align: right;
	bottom: 0;
	padding-bottom: 30px;
}

.footer-remedico{
	 text-align: left;
	 font-size: 25px;
	 margin-top: 10px;
	 margin-bottom: 10px;
}

@media screen and (max-width: 600px){
	footer {
			text-align: center;
	}
	.footer-remedico{
		text-align: center;
	}
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 26px;
    margin-bottom: 26px;
    width: 300px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

@media screen and (max-width: 600px){

	.card{
		width: 254px;
	}
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

@media screen and (min-width: 600px){
	.grid-container{
		grid-template-columns: auto auto auto auto;
	}
}

#search-input{
	margin-top: 80px;
	margin-left: 500px;
	height: 34px;
    width: 200px;
    background: #f1f1f1;
}

@media screen and (max-width: 600px){
	#search-input{
		margin-left: 130px;
	}
}

#search-button{
	height: 34px;
	width: 80px;
	background-color: #0f7277;
}